<form (ngSubmit)="login()">
  <div class="form-group">
    <input
      appHover
      color="green"
      type="text"
      class="form-control"
      name="name"
      [(ngModel)]="email"
      placeholder="Provide your username"
    />
  </div>
  <div class="form-group">
    <input
      appHover
      color="green"
      type="text"
      class="form-control"
      name="name"
      [(ngModel)]="password"
      placeholder="Provide your username"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Login</button>
  </div>
</form>
