<div>
  <table class="table">
    <thead>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>Select Room</th>
      </tr>
    </thead>
    <tbody>
      @for (item of rooms; track $index; let e = $even) {
      <tr [ngClass]="e ? 'even' : 'odd'">
        <td>{{ e ? "even" : "odd" }}</td>
        <td>{{ item.checkingTime | date : "medium" }}</td>
        <td>
          <img [src]="item.photos" [style]="{ width: '100px' }" alt="" />
        </td>
        <td>{{ item.price }}</td>
        <td>{{ item.roomNumber }}</td>
        <td>{{ item.roomType }}</td>
        <td>
          <button class="btn btn-primary" (click)="selectRoom(item)">
            Select
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
