<div>
  <table class="table">
    <thead>
      <tr>
        <th>Even or Odd</th>
        <th>check-in time</th>
        <th>image</th>
        <th>cost</th>
        <th>room number</th>
        <th>type</th>
        <th>rating</th>
        <th>Select Room</th>
      </tr>
    </thead>
    <tbody>
      @for (item of rooms; track $index; let e = $even) {
      <tr [ngClass]="e ? 'even' : 'odd'">
        <td>{{ e ? "even" : "odd" }}</td>
        <td>{{ item.checkingTime | date : "medium" }}</td>
        <td>
          <img [src]="item.photos" [style]="{ width: '100px' }" alt="" />
        </td>
        <td>{{ item.price }}</td>
        <td>{{ item.roomNumber }}</td>
        <td>{{ item.roomType }}</td>
        <td>{{ item.rating }}</td>
        <td>
          <!-- <button class="btn btn-primary" (click)="selectRoom(item)">
            Select
          </button> -->

          <button
            class="btn btn-primary"
            [routerLink]="['/rooms', item.roomNumber]"
          >
            Book Room
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
