<div>
  {{ roomsForm.pristine }}
  {{ roomsForm.dirty }}
  {{ roomsForm.invalid }}
  {{ roomsForm.valid }}
  {{ roomsForm.value | json }}
</div>
<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
  @if (successMsg !== ''){
  <div class="alert alert-success">
    {{ successMsg }}
  </div>
  }
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="roomType"
      [(ngModel)]="room.roomType"
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      #roomamanaties="ngModel"
      required
      class="form-control"
      minlength="5"
      maxlength="20"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      type="text"
      name="amenities"
      [(ngModel)]="room.amenities"
      placeholder="Amenities"
    />
    <div>{{ roomamanaties.errors | json }}</div>
    @if (roomamanaties.errors?.['minlength']){
    <div class="alert alert-danger">Amenities should be min 5 chars!</div>
    }
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      [(ngModel)]="room.price"
      name="price"
      placeholder="Room price"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      [(ngModel)]="room.photos"
      name="photoes"
      placeholder="Photoes (Provide link)"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      [(ngModel)]="room.checkingTime"
      name="checkinTime"
      placeholder="Check-in Time"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      [(ngModel)]="room.checkoutTime"
      name="checkoutTime"
      placeholder="Check-out Time"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      name="rating"
      [(ngModel)]="room.rating"
      placeholder="Rating"
    />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
