<p>booking works!</p>
{{ bookingForm.value | json }}
{{ bookingForm.pristine | json }}
{{ bookingForm.dirty | json }}
<br />

<button mat-raised-button color="primary" type="button" (click)="addPassport()">
  Add passport
</button>
<button mat-raised-button color="primary" type="button" (click)="removePassport()">
  Remove passport
</button>
<form [formGroup]="bookingForm" (ngSubmit)="addBooking()">
  @if(bookingForm.get('passport')){
  <mat-form-field subscriptSizing="dynamic" class="example-full-width">
    <mat-label>Passport</mat-label>
    <input matInput formControlName="passport" />
  </mat-form-field>
  }
  <mat-form-field class="example-full-width" subscriptSizing="dynamic">
    <mat-label>Room Id</mat-label>
    <input type="text" matInput formControlName="roomId" />

    <!-- @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    } @if (emailFormControl.hasError('required')) {
    <mat-error>Email is <strong>required</strong></mat-error>
    } -->
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic" class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="checkinDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width" subscriptSizing="dynamic">
    <input
      type="email"
      matInput
      formControlName="guestEmail"
      placeholder="provide an email"
  /></mat-form-field>
  <mat-form-field class="example-full-width" subscriptSizing="dynamic">
    <input
      type="text"
      matInput
      formControlName="guestName"
      placeholder="guest name"
  /></mat-form-field>
  <mat-form-field class="example-full-width" subscriptSizing="dynamic">
    <input
      type="text"
      matInput
      formControlName="mobileNumber"
      placeholder="mobile"
  /></mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      type="number"
      matInput
      formControlName="bookingAmount"
      placeholder="bookingAmount"
  /></mat-form-field>
  <div formGroupName="address">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Address </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>addressLine1</mat-label>
          <input type="text" matInput formControlName="addressLine1" />
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic">
          <mat-label>addressLine2</mat-label>
          <input type="text" matInput formControlName="addressLine2" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>pin codes</mat-label>
          <input type="text" matInput formControlName="pinCodes" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>city</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>country</mat-label>
          <input type="text" matInput formControlName="country" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>state</mat-label>
          <input type="text" matInput formControlName="state" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div formArrayName="guests">
    @for (guest of guests.controls; track $index) {
    <div [formGroupName]="$index">
      <mat-form-field>
        <mat-label>guest name</mat-label>
        <input type="text" matInput formControlName="guestName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>age</mat-label>
        <input type="number" matInput formControlName="age" />
      </mat-form-field>
    </div>
    }
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addGuest()"
    >
      Add guest
    </button>
  </div>
  <div><button mat-raised-button color="primary">Book Room</button></div>
</form>
